/* Last modified by Joseph Parsons on October 21, 2022 */

/* Color scheme incorporation */
.sugar_hearts_you {
    color: #fe4356;
}

.party_confetti {
    color: #fc9d9a;
}

.sugar_champagne {
    color: #f9cdad;
}

.bursts_of_euphoria {
    color: #c8c8a9;
}

.happy_balloons {
    color: #83af9b;
}

.sugar_hearts_you_background {
    background-color: #fe4356;
}

.party_confetti_background {
    background-color: #fc9d9a;
}

.sugar_champagne_background {
    background-color: #f9cdad;
}

.bursts_of_euphoria_background {
    background-color: #c8c8a9;
}

.happy_balloons_background {
    background-color: #83af9b;
}

/* Display for the visible and hidden components. */
.hidden {
    display: none;
}
.visible {
    display: block;
}