#waitingContainer {
    display: flex;
    flex-direction: column;
    left: 5vw;
    width: 90vw;
    justify-content: space-around;
    align-items: center;
    background-color: cyan;
}

#waitingButtons {
    display: flex;
    flex-direction: row;
    width: 90vw;
    left: 5vw;
    justify-content: space-around;
    align-items: center;
}

#cancelWhileAwaitingConfirmation {
    display: flex;
    flex-direction: row;
    justify-content: center;
}