<div id="info-container">
    <p [style.color]="getColor('Sugar Hearts You')">Here is where you can find information about Meal Meetings.</p>
    <button type="button" class="btn btn-primary" [style.backgroundColor]="getColor('Happy Balloons')">About Us</button>
    <button type="button" class="btn btn-primary" [style.backgroundColor]="getColor('Happy Balloons')">How to Use This</button>
    <button type="button" class="btn btn-primary" [style.backgroundColor]="getColor('Happy Balloons')">Terms and Conditions</button>
    <button type="button" class="btn btn-primary" [style.backgroundColor]="getColor('Happy Balloons')">Privacy Policy</button>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#attributionsSubpage" aria-expanded="false" aria-controls="attributionsSubpage" [style.backgroundColor]="getColor('Happy Balloons')">Attributions and License</button>
    <div class="collapse multi-collapse" id="attributionsSubpage">
        <div class="card card-body">
            This attribution page should be finalized eventually. For now, <a
                href="https://docs.google.com/document/d/1lu4WGn5o9x_vi3RkG9mfx_hBFk2LdLlFnM5RmbOiWLc/edit?usp=sharing">https://docs.google.com/document/d/1lu4WGn5o9x_vi3RkG9mfx_hBFk2LdLlFnM5RmbOiWLc/edit?usp=sharing</a>
            is what I have done so far.
        </div>
    </div>
</div>