#infoContainer {
    display: flex;
    flex-direction: column;
    width: 90vw;
    left: 5vw;
    align-items: center;
    justify-content: space-between;
}

#attributionsSubpage {
    overflow-x: hidden;
    overflow-y: scroll;
    width: 90vw;
    left: 5vw;
}