<!-- This is not really a good way of getting a background, but it works. -->
<img src="/assets/spaghetti-1932466_1920.jpg" id="backgroundImage">
<div id="backgroundDiv"></div>

<div *ngIf="username==''" id="signedin">
    <h1 [style.color]="getColor('Sugar Hearts You')">Meal Meetings</h1>
    <p>Thanks to sugar! for the color palette. The color palette can be found at <a href="https://www.colourlovers.com/palette/629637/">https://www.colourlovers.com/palette/629637/</a>. For more color palettes by sugar!, go visit <a href="https://www.colourlovers.com/lover/sugar%21">https://www.colourlovers.com/lover/sugar%21</a>!</p>
    <p>This was made using the Angular framework and Bootstrap.</p>
    <app-navbar></app-navbar>
</div>
<router-outlet></router-outlet>
