/* Create items that are manually set to span the page. */
/* Use z-indexes and transparency as desired. */

#backgroundImage {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -15;
}

#backgroundDiv {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: -10;
}