<h1 [style.color]="colorList[0]">{{title}}</h1>
<p>Thanks to sugar! for the color palette. The color palette can be found at <a href="https://www.colourlovers.com/palette/629637/">https://www.colourlovers.com/palette/629637/</a>. For more color palettes by sugar!, go visit <a href="https://www.colourlovers.com/lover/sugar%21">https://www.colourlovers.com/lover/sugar%21</a>!</p>
<p>This was made using the Angular framework and Bootstrap (I think Material Design for Bootstrap as well).</p>
<hr>
<app-navbar [colorlist]="colorList"></app-navbar>
<hr>
<app-profile [colorlist]="colorList"></app-profile>
<hr>
<app-meeting-setup [colorlist]="colorList"></app-meeting-setup>
<hr>
<app-prompt [colorlist]="colorList"></app-prompt>
<hr>
<app-info [colorlist]="colorList"></app-info>
<hr>