#amButton, #pmButton {
    border: 0px;
    border-radius: 0px;
    padding: 0px;
}
#amButton {
    font-size: 2em;
}
#ampmSpan {
    display: inline-block;
    background-color: #FC9D9A;
    padding: 5px;
}

#start_time_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#start_time_container .form-control {
    width: 25%;
}