#setupContainer, #invitationReceivedContainer, #confirmedContainer {
    background-color: cyan;
}

#amButton, #pmButton {
    border: 0px;
    border-radius: 0px;
    padding: 0px;
}
#amButton.selectedampm, #pmButton.selectedampm {
    font-size: 2em;
}
#ampmSpan {
    display: inline-block;
    background-color: #FC9D9A;
    padding: 5px;
}

#startTimeContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#startTimeContainer .form-control {
    width: 25%;
}

#setupDescription {
    text-align: center;
}

#bottomOfMeetingSetup .form-control {
    width: 75%;
}

#bottomOfMeetingSetup {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#waitingContainer {
    display: flex;
    flex-direction: column;
    left: 5vw;
    width: 90vw;
    justify-content: space-around;
    align-items: center;
    background-color: cyan;
}

#waitingButtons, #invitationReceivedButtons {
    display: flex;
    flex-direction: row;
    width: 90vw;
    left: 5vw;
    justify-content: space-around;
    align-items: center;
}

#cancelWhileAwaitingConfirmation, #cancelAfterConfirmation {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#confirmationImage {
    width: 90vw;
}

#currentLocation {
    width: 10px;
    height: 10px;
    position: relative;
    background-color: red;
    top: -1000000px;
    left: -100000px;
}