<p [style.color]="colorlist[0]">Where and when would you like to eat?</p>
<p>Start @</p>
<input class="form-control" [style.backgroundColor]="colorlist[3]" type="text" placeholder="HH:MM" aria-label="default input example">
<div class="btn-group" role="group" aria-label="Basic radio toggle button group">
    <input type="radio" class="btn-check" name="btnradio" id="amOption" autocomplete="off" checked>
    <label class="btn btn-outline-primary" for="amOption">AM</label>
    <input type="radio" class="btn-check" name="btnradio" id="pmOption" autocomplete="off">
    <label class="btn btn-outline-primary" for="pmOption">PM</label>
</div>
<p>Location</p>
<input class="form-control" [style.backgroundColor]="colorlist[3]" type="text" placeholder="Location" aria-label="default input example">