<div *ngIf="state === 'SETUP'">
    <p [style.color]="getColor('Sugar Hearts You')">Where and when would you like to eat?</p>
    <div id="start_time_container">
        <a>Start @</a>
        <input class="form-control" [style.backgroundColor]="getColor('Bursts of Euphoria')" type="text" placeholder="HH:MM" aria-label="default input example">
        <span id="ampmSpan">
            <button type="button" class="btn btn-primary" [style.backgroundColor]="getColor('Bursts of Euphoria')" id="amButton">AM</button>
            <button type="button" class="btn btn-primary" [style.backgroundColor]="getColor('Party Confetti')" id="pmButton">PM</button>
        </span>
    </div>
    <p>Location</p>
    <input class="form-control" [style.backgroundColor]="getColor('Bursts of Euphoria')" type="text" placeholder="Location" aria-label="default input example">
    <button type="button" class="btn btn-primary centeredBlock" [style.backgroundColor]="getColor('Happy Balloons')">Request</button>
</div>
<div *ngIf="state === 'WAITING'">
    <p [style.color]="getColor('Sugar Hearts You')">You have a plan in place.</p>
    <p>Plan to eat at 11:00 AM at Vonderschmitt Cafe</p>
    <button type="button" class="btn btn-primary centeredBlock" [style.backgroundColor]="getColor('Happy Balloons')">Modify</button>
    <button type="button" class="btn btn-secondary centeredBlock" [style.backgroundColor]="getColor('Sugar Hearts You')">Cancel</button>
</div>
<div *ngIf="state === 'INVITATIONRECEIVED'">
    <p [style.color]="getColor('Sugar Hearts You')">You received an invitation to eat at 12:00 PM at Chauncey's.</p>
    <p>abcd</p>
    <input class="form-control" [style.backgroundColor] = "getColor('Bursts of Euphoria')" type="text" placeholder="Coding, Hiking" aria-label="default input example" readonly>
    <button type="button" class="btn btn-primary centeredBlock" [style.backgroundColor]="getColor('Happy Balloons')">Accept</button>
    <button type="button" class="btn btn-secondary centeredBlock" [style.backgroundColor]="getColor('Sugar Hearts You')">Decline</button>
</div>
<div *ngIf="state === 'AWAITINGCONFIRMATION'">
    <p [style.color]="getColor('Sugar Hearts You')">You confirmed that you are available to eat at 12:00 PM at Chauncey's with abcd.</p>
    <button type="button" class="btn btn-secondary centeredBlock" [style.backgroundColor]="getColor('Sugar Hearts You')">Cancel</button>
</div>
<div *ngIf="state === 'CONFIRMED'">
    <p [style.color]="getColor('Sugar Hearts You')">You are meeting with abcd at 12:00 PM at Chauncey's.</p>
    <button type="button" class="btn btn-secondary centeredBlock" [style.backgroundColor]="getColor('Sugar Hearts You')">Cancel</button>
</div>