<p [style.color]="getColor('Sugar Hearts You')">Where and when would you like to eat?</p>
<p>Start @</p>
<input class="form-control" [style.backgroundColor]="getColor('Bursts of Euphoria')" type="text" placeholder="HH:MM" aria-label="default input example">
<span id="ampmSpan">
    <button type="button" class="btn btn-primary" [style.backgroundColor]="getColor('Bursts of Euphoria')" id="amButton">AM</button>
    <button type="button" class="btn btn-primary" [style.backgroundColor]="getColor('Party Confetti')" id="pmButton">PM</button>
</span>
<p>Location</p>
<input class="form-control" [style.backgroundColor]="getColor('Bursts of Euphoria')" type="text" placeholder="Location" aria-label="default input example">