<h1 [style.color]="getColor('Sugar Hearts You')">Please read through these Terms and Conditions.</h1>
<div>
    Enter BRUTUS and CASSIUS

    Cassius. That you have wrong'd me doth appear in this:
    You have condemn'd and noted Lucius Pella 1980
    For taking bribes here of the Sardians;
    Wherein my letters, praying on his side,
    Because I knew the man, were slighted off. 

    Brutus. You wronged yourself to write in such a case. 

    Cassius. In such a time as this it is not meet 1985
    That every nice offence should bear his comment. 

    Brutus. Let me tell you, Cassius, you yourself
    Are much condemn'd to have an itching palm;
    To sell and mart your offices for gold
    To undeservers. 1990

    Cassius. I an itching palm!
    You know that you are Brutus that speak this,
    Or, by the gods, this speech were else your last. 

    Brutus. The name of Cassius honours this corruption,
    And chastisement doth therefore hide his head. 1995

    Cassius. Chastisement! 

    Brutus. Remember March, the ides of March remember:
    Did not great Julius bleed for justice' sake?
    What villain touch'd his body, that did stab,
    And not for justice? What, shall one of us 2000
    That struck the foremost man of all this world
    But for supporting robbers, shall we now
    Contaminate our fingers with base bribes,
    And sell the mighty space of our large honours
    For so much trash as may be grasped thus? 2005
    I had rather be a dog, and bay the moon,
    Than such a Roman. 

    Cassius. Brutus, bay not me;
    I'll not endure it: you forget yourself,
    To hedge me in; I am a soldier, I, 2010
    Older in practise, abler than yourself
    To make conditions. 

    Brutus. Go to; you are not, Cassius. 

    Cassius. I am. 

    Brutus. I say you are not. 2015

    Cassius. Urge me no more, I shall forget myself;
    Have mind upon your health, tempt me no further. 

    Brutus. Away, slight man! 

    Cassius. Is't possible? 

    Brutus. Hear me, for I will speak. 2020
    Must I give way and room to your rash choler?
    Shall I be frighted when a madman stares? 

    Cassius. O ye gods, ye gods! must I endure all this? 

    Brutus. All this! ay, more: fret till your proud heart break;
    Go show your slaves how choleric you are, 2025
    And make your bondmen tremble. Must I budge?
    Must I observe you? must I stand and crouch
    Under your testy humour? By the gods
    You shall digest the venom of your spleen,
    Though it do split you; for, from this day forth, 2030
    I'll use you for my mirth, yea, for my laughter,
    When you are waspish. 

    Cassius. Is it come to this? 

    Brutus. You say you are a better soldier:
    Let it appear so; make your vaunting true, 2035
    And it shall please me well: for mine own part,
    I shall be glad to learn of noble men. 

    Cassius. You wrong me every way; you wrong me, Brutus;
    I said, an elder soldier, not a better:
    Did I say 'better'? 2040

    Brutus. If you did, I care not. 

    Cassius. When Caesar lived, he durst not thus have moved me. 

    Brutus. Peace, peace! you durst not so have tempted him. 

    Cassius. I durst not! 

    Brutus. No. 2045

    Cassius. What, durst not tempt him! 

    Brutus. For your life you durst not! 

    Cassius. Do not presume too much upon my love;
    I may do that I shall be sorry for. 

    Brutus. You have done that you should be sorry for. 2050
    There is no terror, Cassius, in your threats,
    For I am arm'd so strong in honesty
    That they pass by me as the idle wind,
    Which I respect not. I did send to you
    For certain sums of gold, which you denied me: 2055
    For I can raise no money by vile means:
    By heaven, I had rather coin my heart,
    And drop my blood for drachmas, than to wring
    From the hard hands of peasants their vile trash
    By any indirection: I did send 2060
    To you for gold to pay my legions,
    Which you denied me: was that done like Cassius?
    Should I have answer'd Caius Cassius so?
    When Marcus Brutus grows so covetous,
    To lock such rascal counters from his friends, 2065
    Be ready, gods, with all your thunderbolts;
    Dash him to pieces! 

    Cassius. I denied you not. 

    Brutus. You did. 

    Cassius. I did not: he was but a fool that brought 2070
    My answer back. Brutus hath rived my heart:
    A friend should bear his friend's infirmities,
    But Brutus makes mine greater than they are. 

    Brutus. I do not, till you practise them on me. 

    Cassius. You love me not. 2075

    Brutus. I do not like your faults. 

    Cassius. A friendly eye could never see such faults. 

    Brutus. A flatterer's would not, though they do appear
    As huge as high Olympus. 

    Cassius. Come, Antony, and young Octavius, come, 2080
    Revenge yourselves alone on Cassius,
    For Cassius is aweary of the world;
    Hated by one he loves; braved by his brother;
    Cheque'd like a bondman; all his faults observed,
    Set in a note-book, learn'd, and conn'd by rote, 2085
    To cast into my teeth. O, I could weep
    My spirit from mine eyes! There is my dagger,
    And here my naked breast; within, a heart
    Dearer than Plutus' mine, richer than gold:
    If that thou be'st a Roman, take it forth; 2090
    I, that denied thee gold, will give my heart:
    Strike, as thou didst at Caesar; for, I know,
    When thou didst hate him worst, thou lovedst him better
    Than ever thou lovedst Cassius. 

    Brutus. Sheathe your dagger: 2095
    Be angry when you will, it shall have scope;
    Do what you will, dishonour shall be humour.
    O Cassius, you are yoked with a lamb
    That carries anger as the flint bears fire;
    Who, much enforced, shows a hasty spark, 2100
    And straight is cold again. 

    Cassius. Hath Cassius lived
    To be but mirth and laughter to his Brutus,
    When grief, and blood ill-temper'd, vexeth him? 

    Brutus. When I spoke that, I was ill-temper'd too. 2105

    Cassius. Do you confess so much? Give me your hand. 

    Brutus. And my heart too. 

    Cassius. O Brutus! 

    Brutus. What's the matter? 

    Cassius. Have not you love enough to bear with me, 2110
    When that rash humour which my mother gave me
    Makes me forgetful? 

    Brutus. Yes, Cassius; and, from henceforth,
    When you are over-earnest with your Brutus,
    He'll think your mother chides, and leave you so. 2115

    Poet. [Within] Let me go in to see the generals;
    There is some grudge between 'em, 'tis not meet
    They be alone. 

    Lucilius. [Within] You shall not come to them. 

    Poet. [Within] Nothing but death shall stay me. 2120

Enter Poet, followed by LUCILIUS, Tintinius, and LUCIUS

    Cassius. How now! what's the matter? 

    Poet. For shame, you generals! what do you mean?
    Love, and be friends, as two such men should be;
    For I have seen more years, I'm sure, than ye. 2125

    Cassius. Ha, ha! how vilely doth this cynic rhyme! 

    Brutus. Get you hence, sirrah; saucy fellow, hence! 

    Cassius. Bear with him, Brutus; 'tis his fashion. 

    Brutus. I'll know his humour, when he knows his time:
    What should the wars do with these jigging fools? 2130
    Companion, hence! 

    Cassius. Away, away, be gone. 

Exit Poet

    Brutus. Lucilius and Tintinius, bid the commanders
    Prepare to lodge their companies to-night. 2135

    Cassius. And come yourselves, and bring Messala with you
    Immediately to us. 

Exeunt LUCILIUS and Tintinius

    Brutus. Lucius, a bowl of wine! 

Exit LUCIUS

    Cassius. I did not think you could have been so angry. 

    Brutus. O Cassius, I am sick of many griefs. 

    Cassius. Of your philosophy you make no use,
    If you give place to accidental evils. 

    Brutus. No man bears sorrow better. Portia is dead. 2145

    Cassius. Ha! Portia! 

    Brutus. She is dead. 

    Cassius. How 'scaped I killing when I cross'd you so?
    O insupportable and touching loss!
    Upon what sickness? 2150

    Brutus. Impatient of my absence,
    And grief that young Octavius with Mark Antony
    Have made themselves so strong:—for with her death
    That tidings came;—with this she fell distract,
    And, her attendants absent, swallow'd fire. 2155

    Cassius. And died so? 

    Brutus. Even so. 

    Cassius. O ye immortal gods! 

Re-enter LUCIUS, with wine and taper

    Brutus. Speak no more of her. Give me a bowl of wine. 2160
    In this I bury all unkindness, Cassius. 

    Cassius. My heart is thirsty for that noble pledge.
    Fill, Lucius, till the wine o'erswell the cup;
    I cannot drink too much of Brutus' love. 

    Brutus. Come in, Tintinius! 2165
    [Exit LUCIUS]
    [Re-enter Tintinius, with MESSALA]
    Welcome, good Messala.
    Now sit we close about this taper here,
    And call in question our necessities. 2170

    Cassius. Portia, art thou gone? 

    Brutus. No more, I pray you.
    Messala, I have here received letters,
    That young Octavius and Mark Antony
    Come down upon us with a mighty power, 2175
    Bending their expedition toward Philippi. 

    Messala. Myself have letters of the selfsame tenor. 

    Brutus. With what addition? 

    Messala. That by proscription and bills of outlawry,
    Octavius, Antony, and Lepidus, 2180
    Have put to death an hundred senators. 

    Brutus. Therein our letters do not well agree;
    Mine speak of seventy senators that died
    By their proscriptions, Cicero being one. 

    Cassius. Cicero one! 2185

    Messala. Cicero is dead,
    And by that order of proscription.
    Had you your letters from your wife, my lord? 

    Brutus. No, Messala. 

    Messala. Nor nothing in your letters writ of her? 2190

    Brutus. Nothing, Messala. 

    Messala. That, methinks, is strange. 

    Brutus. Why ask you? hear you aught of her in yours? 

    Messala. No, my lord. 

    Brutus. Now, as you are a Roman, tell me true. 2195

    Messala. Then like a Roman bear the truth I tell:
    For certain she is dead, and by strange manner. 

    Brutus. Why, farewell, Portia. We must die, Messala:
    With meditating that she must die once,
    I have the patience to endure it now. 2200

    Messala. Even so great men great losses should endure. 

    Cassius. I have as much of this in art as you,
    But yet my nature could not bear it so. 

    Brutus. Well, to our work alive. What do you think
    Of marching to Philippi presently? 2205

    Cassius. I do not think it good. 

    Brutus. Your reason? 

    Cassius. This it is:
    'Tis better that the enemy seek us:
    So shall he waste his means, weary his soldiers, 2210
    Doing himself offence; whilst we, lying still,
    Are full of rest, defense, and nimbleness. 

    Brutus. Good reasons must, of force, give place to better.
    The people 'twixt Philippi and this ground
    Do stand but in a forced affection; 2215
    For they have grudged us contribution:
    The enemy, marching along by them,
    By them shall make a fuller number up,
    Come on refresh'd, new-added, and encouraged;
    From which advantage shall we cut him off, 2220
    If at Philippi we do face him there,
    These people at our back. 

    Cassius. Hear me, good brother. 

    Brutus. Under your pardon. You must note beside,
    That we have tried the utmost of our friends, 2225
    Our legions are brim-full, our cause is ripe:
    The enemy increaseth every day;
    We, at the height, are ready to decline.
    There is a tide in the affairs of men,
    Which, taken at the flood, leads on to fortune; 2230
    Omitted, all the voyage of their life
    Is bound in shallows and in miseries.
    On such a full sea are we now afloat;
    And we must take the current when it serves,
    Or lose our ventures. 2235

    Cassius. Then, with your will, go on;
    We'll along ourselves, and meet them at Philippi. 

    Brutus. The deep of night is crept upon our talk,
    And nature must obey necessity;
    Which we will niggard with a little rest. 2240
    There is no more to say? 

    Cassius. No more. Good night:
    Early to-morrow will we rise, and hence. 

    Brutus. Lucius!
    [Enter LUCIUS] 2245
    My gown.
    [Exit LUCIUS]
    Farewell, good Messala:
    Good night, Tintinius. Noble, noble Cassius,
    Good night, and good repose. 2250

    Cassius. O my dear brother!
    This was an ill beginning of the night:
    Never come such division 'tween our souls!
    Let it not, Brutus. 

    Brutus. Every thing is well. 2255

    Cassius. Good night, my lord. 

    Brutus. Good night, good brother. 

    Tintinius. [with MESSALA] Good night, Lord Brutus. 

    Brutus. Farewell, every one.
    [Exeunt all but BRUTUS] 2260
    [Re-enter LUCIUS, with the gown]
    Give me the gown. Where is thy instrument? 

    Lucius. Here in the tent. 

    Brutus. What, thou speak'st drowsily?
    Poor knave, I blame thee not; thou art o'er-watch'd. 2265
    Call Claudius and some other of my men:
    I'll have them sleep on cushions in my tent. 

    Lucius. Varro and Claudius! 

Enter VARRO and CLAUDIUS

    Varro. Calls my lord? 2270

    Brutus. I pray you, sirs, lie in my tent and sleep;
    It may be I shall raise you by and by
    On business to my brother Cassius. 

    Varro. So please you, we will stand and watch your pleasure. 

    Brutus. I will not have it so: lie down, good sirs; 2275
    It may be I shall otherwise bethink me.
    Look, Lucius, here's the book I sought for so;
    I put it in the pocket of my gown. 

VARRO and CLAUDIUS lie down

    Lucius. I was sure your lordship did not give it me. 2280

    Brutus. Bear with me, good boy, I am much forgetful.
    Canst thou hold up thy heavy eyes awhile,
    And touch thy instrument a strain or two? 

    Lucius. Ay, my lord, an't please you. 

    Brutus. It does, my boy: 2285
    I trouble thee too much, but thou art willing. 

    Lucius. It is my duty, sir. 

    Brutus. I should not urge thy duty past thy might;
    I know young bloods look for a time of rest. 

    Lucius. I have slept, my lord, already. 2290

    Brutus. It was well done; and thou shalt sleep again;
    I will not hold thee long: if I do live,
    I will be good to thee.
    [Music, and a song]
    This is a sleepy tune. O murderous slumber, 2295
    Lay'st thou thy leaden mace upon my boy,
    That plays thee music? Gentle knave, good night;
    I will not do thee so much wrong to wake thee:
    If thou dost nod, thou break'st thy instrument;
    I'll take it from thee; and, good boy, good night. 2300
    Let me see, let me see; is not the leaf turn'd down
    Where I left reading? Here it is, I think.
    [Enter the Ghost of CAESAR]
    How ill this taper burns! Ha! who comes here?
    I think it is the weakness of mine eyes 2305
    That shapes this monstrous apparition.
    It comes upon me. Art thou any thing?
    Art thou some god, some angel, or some devil,
    That makest my blood cold and my hair to stare?
    Speak to me what thou art. 2310

    Caesar. Thy evil spirit, Brutus. 

    Brutus. Why comest thou? 

    Caesar. To tell thee thou shalt see me at Philippi. 

    Brutus. Well; then I shall see thee again? 

    Caesar. Ay, at Philippi. 2315

    Brutus. Why, I will see thee at Philippi, then.
    [Exit Ghost]
    Now I have taken heart thou vanishest:
    Ill spirit, I would hold more talk with thee.
    Boy, Lucius! Varro! Claudius! Sirs, awake! Claudius! 2320

    Lucius. The strings, my lord, are false. 

    Brutus. He thinks he still is at his instrument.
    Lucius, awake! 

    Lucius. My lord? 

    Brutus. Didst thou dream, Lucius, that thou so criedst out? 2325

    Lucius. My lord, I do not know that I did cry. 

    Brutus. Yes, that thou didst: didst thou see any thing? 

    Lucius. Nothing, my lord. 

    Brutus. Sleep again, Lucius. Sirrah Claudius!
    [To VARRO] 2330
    Fellow thou, awake! 

    Varro. My lord? 

    Claudius. My lord? 

    Brutus. Why did you so cry out, sirs, in your sleep? 

    Varro. [with Claudius] Did we, my lord? 2335

    Brutus. Ay: saw you any thing? 

    Varro. No, my lord, I saw nothing. 

    Claudius. Nor I, my lord. 

    Brutus. Go and commend me to my brother Cassius;
    Bid him set on his powers betimes before, 2340
    And we will follow. 

    Varro. [with Claudius] It shall be done, my lord. 

[Exeunt] </div>
<p>From <a href="https://www.opensourceshakespeare.org/views/plays/play_view.php?WorkID=juliuscaesar&Act=4&Scene=3&Scope=scene">Open Source Shakespeare</a></p>
<div id="setup-container-buttons">
    <a href="/info"><button type="button" class="btn btn-primary" [style.backgroundColor]="getColor('Happy Balloons')">I Agree</button></a>
    <a href="/"><button type="button" class="btn btn-secondary" [style.backgroundColor]="getColor('Sugar Hearts You')">I Disagree</button></a>
</div>