<app-navbar></app-navbar>
<div id="profileContainer">
    <p class="centeredText" [style.color]="getColor('Sugar Hearts You')">1234</p>
    <p>Interests</p>
    <input class="form-control" [style.backgroundColor] = "getColor('Bursts of Euphoria')" type="text" placeholder="Interests" aria-label="default input example">
    <button type="button" class="btn btn-primary" [style.backgroundColor]="getColor('Happy Balloons')">Log Out</button>
    <button type="button" class="btn btn-secondary" [style.backgroundColor]="getColor('Sugar Hearts You')">Delete Account</button>
</div>