#profileContainer {
    display: flex;
    width: 90vw;
    left: 5vw;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#profileContainer > .form-control {
    width: 50%;
}

#updateProfileContainer {
    display: none;
}