/* By default, all text is black */
* {
    color: black;
}

/* Center block and text */
.centeredBlock {
    margin: 0 auto;
}

.centeredText {
    text-align: center;
}


body {
    background-color: #F9CDAD;
    font-family: 'Happy Monkey', sans-serif;
}

button.btn {
    color: black;
}

button {
    margin: 5px; /* Looks like a comfortable margin. */
}