#confirmedContainer {
    background-color: cyan;
}

#cancelAfterConfirmation {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#confirmationImage {
    width: 90vw;
}

#currentLocation {
    width: 10px;
    height: 10px;
    position: relative;
    background-color: red;
    top: -1000000px;
    left: -100000px;
}

#updateConfirmedContainer {
    display: none;
}