<div id="homepage-container">
    <!-- Thanks to https://www.w3schools.com/css/css3_flexbox_container.asp for showing me how to use flexbox, such as how to center a component -->
    <h1 [style.color]="getColor('Sugar Hearts You')">Meal Meetings</h1>
    <a routerLink="/signin"><button type="button" class="btn btn-primary" [style.backgroundColor]="getColor('Happy Balloons')">Sign In</button></a>
    <br>
    <a routerLink="/signup"><button type="button" class="btn btn-primary" [style.backgroundColor]="getColor('Happy Balloons')">Sign Up</button></a>
</div>