<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" href="#" id="profileTab">
                    <span class="material-icons">account_circle</span><br>Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" id="meetingTab">
                    <span class="material-icons">restaurant</span><br>Meeting</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" id="promptTab">
                    <span class="material-icons">lightbulb</span><br>Prompt</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#" id="infoTab" >
                    <span class="material-icons">info</span><br>Info</a>
            </li>
        </ul>
    </div>
</nav>